<h1>Sector <%= params[:number] %></h1>

<h2>Testing <%= SECTORS[params[:number].to_i] %> </h2>

<ul>
  <p>
	<center>
	  From this sector you may travel to: <br><br>
	
	  <!-- Would like to do a ruby for each item in next_sector here -->
	
	  <a href="/sector/<%= SECTORS[params[:number].to_i][0] %>">
		  Go to sector <%= SECTORS[params[:number].to_i][0] %>
		</a>
	</center>
	</p>

  <p>
	<center>
	  From this sector you may travel to: <br><br>
	
	  <!-- Would like to do a ruby for each item in next_sector here -->
	
	  <a href="/sector/<%= SECTORS[params[:number].to_i][1] %>">
		  Go to sector <%= SECTORS[params[:number].to_i][1] %>
		</a>
	</center>
	</p>
	
  <p>
	<center>
	  From this sector you may travel to: <br><br>
	
	  <!-- Would like to do a ruby for each item in next_sector here -->
	
	  <a href="/sector/<%= SECTORS[params[:number].to_i][2] %>">
		  Go to sector <%= SECTORS[params[:number].to_i][2] %>
		</a>
	</center>
	</p>
		
</ul>